.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*---------- All ----------*/
body, html {
	height: 100%;
  background-color: #0F292F;
}
input {
	outline: none;
	border: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus::placeholder {
  color: transparent;
}
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: white;
  border-radius: 15%;
  color: #0F292F;
  padding: 0px 10px;
  margin-left: 10px;
}
input[type=time]::-webkit-clear-button {
  display: none;
}
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  background: #14A098;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  /* text-align: center; */
  left: 45%;
  top: 20%;
  width: 15%;
  height: 60%;
  /* justify-content: center; */
  /* align-items: center; */
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
select {
  border: none;
  outline: none;
}
.link {
  text-decoration: none;
}
.link:hover{
  text-decoration: none;
}
/*----------Sign in----------*/
.big_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  margin: 0 auto;
  /* background-color:#61dafb; */
}
.container_login {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap_login {
  width: 400px;
  border-radius:25px;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  background: white;
}
.login_form {
  width: 100%;
}
.login_form_title{
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
}
.wrap_input {
  width: 100%;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: #0F292F;
  display: flex;
}
.input_icon{
  display: inline-flex;
  width: 30px;
  /* vertical-align: middle; */
  margin: 10px;
  margin-left: 15px; 
  justify-content: space-evenly;
}
.hideicon {
  width: 20px;
  height: 20px;
  display: flex;
  margin: 15px;
}
.hideicon:hover{
  cursor: pointer;
}
.input {
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.wrap_button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login_button {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  /* width: fit-content; */
  position: relative;
}
.login_button:hover {
  background: -webkit-linear-gradient( #14A098, #0F292F);
  background: -o-linear-gradient( #14A098, #0F292F);
  background: -moz-linear-gradient( #14A098, #0F292F);
  background: linear-gradient( #14A098, #0F292F);
}
.validate_wrap {
  visibility: hidden;
  opacity: 0;
}
.invalidate_wrap {
  position: absolute;
  top: 105%;
  left: 5%;
  padding: 2px;
  border-radius: 20px;
  background-color: #cb2d6f;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: #cb2d6f;
  visibility: visible;
  opacity: 1;
}
.texterror {
  order:1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 1px ;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
  width:0;
  transition: width 0.5s;
}
.erroricon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.erroricon:hover + .texterror {
  width:250px
}
/*----------Sign up----------*/
.container_signup {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap_signup {
  width: 800px;
  border-radius:25px;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  background: white;
  display: flexbox;
  justify-content: space-evenly;
  align-content: center;
}
.signup_form {
  width: 100%;
  /* background-color: tomato; */
  justify-content: center;
  align-items: center;
}
.signup_form_title{
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
  width: 100%;
}
.container_type {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 40px;
}
.wrap_type {
  width: 20%;
  position: relative;
  border-radius: 25px;
  padding: 20px;
  background-color: #0F292F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  line-height: 0.5;
  font-size: 16;
}
.wrap_type:hover{
  cursor: pointer;
  filter: brightness(0.8)
}
.container_next_bt {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
/*---------- customer sign in  page 1 ----------*/
.bigcontainer_input{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;

}
.container_iput {
  width: 48%;
  display: block;
  /* background-color: #14A098; */
}
.select_input {
  background-color: #0F292F;
  color: white;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 5px;
}
/*---------- customer sign in page 2 ----------*/
.pattern {
  color : #cb2d6f;
  position: relative;
  margin-bottom: 30px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p.pattern {
  position: absolute;
}
.container_profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #cb2d6f; */
}
.file_input {
  width: 100%;
  color: transparent;
}
.file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.file_input::before {
  content: "Select profile";
  color: white;
  border-radius: 25px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #0F292F;
  background: #0F292F;
  position: relative;
}
.file_input:hover::before {
  background: -webkit-linear-gradient( #0F292F, #14A098);
  background: -o-linear-gradient( #0F292F, #14A098);
  background: -moz-linear-gradient( #0F292F, #14A098);
  background: linear-gradient( #0F292F, #14A098);
}
.wrap_preview {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  /* margin-right: 150px; */
}
.image_preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 500px;
}
.image_upload {
  display: flex;
  justify-content: center;
}
.container_iput_signup2{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wrap_profile_signup {
  width: 48%;
  /* background-color: #61dafb; */
  /* display: block; */

}
.wrap_password_signup {
  width: 48%;
  /* background-color: bisque; */
  margin-bottom: 80px;
}
/*----------Sign up fished----------*/
.block_finished {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
}
.hidsave_button {
  display: none;
}
.showsave_button {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  position: relative;
}
.showsave_button:hover {
  background: -webkit-linear-gradient( #14A098, #0F292F);
  background: -o-linear-gradient( #14A098, #0F292F);
  background: -moz-linear-gradient( #14A098, #0F292F);
  background: linear-gradient( #14A098, #0F292F);
}
/*----------shop information----------*/
.bigcontainer_info {
  /* background-color: aqua; */
  width: 90%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  /* background-color: violet; */
  border-style: none none solid;
  border-color: white;
  border-width: 2px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.wrap_info {
  width: 100%;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  /* background: white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.wrap_input_info {
  width: 100%;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: rgba(20, 160, 153, 0.3);
  display: flex;
}
.input_info{
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.input_info::placeholder {
  color: gray;
}
.showinput_info{
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.showinput_info::placeholder {
  color: white;
}
.wrap_time {
  width: 210px;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: rgba(20, 160, 153, 0.3);
  display: inline-flex;
}
.line_info {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
  /* justify-content: center; */
}
/*----------multiple image upload----------*/
.container_mutiplefile {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #cb2d6f; */
}
.multiple_file_input {
  width: 100%;
  color: transparent;
  /* background-color: aqua; */
}
.multiple_file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.multiple_file_input::before {
  width: 120px;
  height: 120px;
  content: "Add image";
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 200px; */
  background-color: rgba(20, 160, 153, 0.3);
  position: relative;
  margin-top: 5px;
}
.multiple_file_input:hover::before {
  filter: brightness(0.8);
}
.wrap_multipreview {
  /* width: 50%; */
  display: inline-flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: rgba(20, 160, 153, 0.3);
  margin-right: 10px;
  border-radius: 10px;
}
.multiple_image_preview {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin: 10px;
}
.input_image_box {
  width: 120px;
}
.container_right_bt {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: #61dafb; */
  /* cursor: initial; */
}
.container_left_bt {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #61dafb; */
  cursor: initial;
}
.box_profile_phone {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.bigcontainer_info_profile {
  width: 100%;
  /* display: flex; */
  margin-top: 30px;
  margin-right: 60px;
}
.change_password {
  width: fit-content;
  font-size: 16px;
  color: #14A098;
  /* background-color: #61dafb; */
}
.change_password:hover {
  font-size: 16px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
/*----------hairstyle---------*/
.wrap_checkbox {
  width: 100%;
  position: relative;
  border-radius: 25px;
  margin-bottom: 40px;
  background-color: rgba(18, 94, 90, 0.3);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.checkbox_info {
  width: 170px;
  font-size: 16px;
  margin: 10px;
  /* background-color: yellow; */
}
.title_hairstyles{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  color: #14A098;
  border-style: none none solid;
  border-width: 1px;
  border-color: #14A098;
  margin-bottom: 20px;
}
.wrap_input_add {
  width: 100%;
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.input_add {
  width: 30%;
  border-radius: 50px;
  margin-right: 20px;
  padding-left: 30px;
  font-size: 16px;
}
.input_add::placeholder {
  color: gray;
}

/*Review Customer Part*/

.Format_Container{
    padding: 30px 60px 40px 60px;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.starInput{
  display: none;
}
/*StarRate*/

.starRate{
  text-align: center;
  margin-top: 2%;
}
.star{
  cursor: pointer;
  transition: color 200ms;
  margin: 5px;
}
.validate_review_wrap {
  position: relative;
  visibility: hidden;
  opacity: 0;

}
.invalidate_review_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin:2% 0%;
}
.texterror_review {
  order:1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 1px ;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
}
.erroricon_review {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.erroricon_review + .texterror_review {
  width:200px
}
/***************/
.wrapAddimg{
  text-align: center;
}
.AddImgReview{
  display: inline-flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-right: 10px;
  margin-top: 30px;
  border-radius: 30px;
}
.ReviewtxtBox{
  display: block;
  text-align: center;
}
.descriptionBox{
  text-align: center;
}
textarea{
  position: relative;
  background: rgba(20, 160, 153, 0.3);
  font-family: cloud;
  font-size: 20px;
  color: floralwhite;
  padding: 20px 30px 20px 30px;
  margin-bottom: 20px;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 25px;
}
/* submitPattern Here */
.container_right_bt_Review {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 110px
  /* background-color: #61dafb; */
  /* cursor: initial; */
}
.submit_button {
    /* font-family: Poppins-Medium; */
    position: relative;
    font-size: 16px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 40px;
    border-radius: 100px;
    border-color: #cb2d6f;
    background: #cb2d6f;
    /* width: fit-content; */
  }
  .submit_button:hover {
    background: -webkit-linear-gradient( #cb2d6f, #511F3A);
    background: -o-linear-gradient( #cb2d6f, #511F3A);
    background: -moz-linear-gradient( #cb2d6f, #511F3A);
    background: linear-gradient( #cb2d6f, #511F3A);
  }

  /*Thx4Review*/
  .TextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10%;
    margin-bottom: 10%;
  }

  /*Home Style*/

  @font-face{
    font-family: "Signatra";
    src: url("/fonts/signatra.ttf");
  }
  @font-face{
    font-family: cloud;
    src: url("/fonts/cloud-Bold.ttf");
  }
.wrap{
    width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.wrapnavbar{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px 30px 30px;
}
.homelogo{
    display: inline-flex;
    max-width: 150px;
    height: auto;
}
.searchBox{
    display: flex;
    position: relative;
    width: 50%;
}
.searchBt{
  position: relative;
  background: #cb2c6f;
  height: 42%;
  top: 39.5%;
  padding: 0% 3%;
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
}
.searchInput{
    position: relative;
    background: #14a098;
    font-family: cloud;
    color: floralwhite;
    /* margin: 0px 760px 30px 50px; */
    top: 39%;
    padding: 0% 3%;
    width: 100%;
    height: 42%;
    border: none;
    outline: none;
    border-radius: 25px 0px 0px 25px;
}
::placeholder{
    color: floralwhite;
}

.searchInput:focus {
    border-color: rgb(255, 255, 255);
    box-shadow:0 0 8px 0 rgb(255, 255, 255);
}
.Signin{
    position: relative;
    display: inline-flex;
    background-color: #cb2c6f;
    font-family: cloud;
    color: #fff;
    top: 40px;
    width: 100%;
    height: 42%;
    border-radius: 25px;
    cursor: pointer;
    padding: 0em 2em 0em 2em;
}
.Signin:hover{
    background: -webkit-linear-gradient( #cb2d6f, #511F3A);
    background: -o-linear-gradient( #cb2d6f, #511F3A);
    background: -moz-linear-gradient( #cb2d6f, #511F3A);
    background: linear-gradient( #cb2d6f, #511F3A);
}
/*dropdown part*/

.leftGroup {
    position: relative;
    display: inline-flex
}
.iconBt{
  position: relative;
  top: 45%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:90px;
    right:0px;
    width: 200px;
    
    font-weight:bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}
ul a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    background-color: #14a098;
    padding: 8px 0px;
    border-bottom: 1px solid #e5e5e5;
}
ul a:hover {
    background-color: #0f5f5b;
    color: #ffffff;
}
.slideContainer{
    position: relative;
    top: 20px;
    width: 720px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.imgContainer{
    width: 2160px;
    height: 300px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.Topictext{
    position: relative;
    display: flex;
    font-size: 25px;
    font-family: Cloud;
    font-weight: bold;
    color: #14a098;
    justify-content: start;
    padding: 50px 0px 0px 50px;
}
.btcatContainer{
    /* position: relative; */
    text-align: center;
    display: flex;
    /* margin-top: 3%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.catbt{
    position: relative;
    font-family: Cloud;
    font-weight: bold;
    color: #ffffff;
    background-color: #cb2c6f ;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
    margin: 0.5%;
    outline: none;
    width: 15%;
    height: 100px;
    cursor: pointer;
}
.catbt:hover{
    opacity: 0.8;
}

.shopRec{
    padding: 0% 10%;
    position: relative;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.Recshop{
    position: relative;
    margin: 0px 80px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    opacity: 0.8;
}

/*----------price list----------*/
.line_price {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* background-color: yellow; */
}
.name_hair {
  width: 40%;
  color: white;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* background-color: yellow; */
}
.price {
  color: white;
  width: 15%;
  border-radius: 50px;
  background-color: rgba(20, 160, 153, 0.3);
  display: flex;
}
.input_price{
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 15px;
  text-align: center;
}
.baht {
  color: white;
  font-size: 16px;
  margin-right: 50px;
}
.hairstype_img {
  width:20%;
  display: flex;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.562);
}
.hairstype_img_input::-webkit-file-upload-button {
  /* content: "S"; */
  color: white;
  border-radius: 25px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  position: relative;
  border: none;
}
.hairstype_img_input:hover::-webkit-file-upload-button {
  background: -webkit-linear-gradient( #0F292F, #14A098);
  background: -o-linear-gradient( #0F292F, #14A098);
  background: -moz-linear-gradient( #0F292F, #14A098);
  background: linear-gradient( #0F292F, #14A098);
}
/*----------barber----------*/
.wrap_name_barber {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.name_barber {
  color: black;
  width: 100%;
  border-radius: 50px;
  font-size: 16px;
  background-color: white;
  padding: 10px 25px 10px 25px;
  margin: 10px;
  display: flex;
}
.name_barber::placeholder {
  color: gray;
}
.time_barber {
  color: black;
  width: 20%;
  border-radius: 50px;
  font-size: 14px;
  background-color: white;
  padding: 0px 25px 0px 25px;
  text-align: center;
  /* margin: 10px; */
  /* display: flex; */
}
.time_barber::placeholder {
  color: gray;
}
.checkbox_line {
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: chartreuse; */
  padding: 10px;
  /* margin: 10px; */
}
.wrap_barber {
  width: 100%;
  position: relative;
  border-radius: 25px;
  margin-bottom: 40px;
  background-color: rgba(18, 94, 90, 0.3);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.saved_bt {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: rgba(20, 160, 153, 0.3);
  background: rgba(20, 160, 153, 0.3);
  position: relative;
}
.saved_bt:hover {
  cursor: initial;
}
.services_menu {
  color: #14A098;
  padding: 10px;
  font-size: 16px;
  /* margin: 10px; */
}
.services_menu:hover {
  cursor: pointer;
}
.title_menu {
  width: 70%;
  color: #14A098;
  padding: 20px;
  border-width: 1px;
  border-style: none none solid none;
  border-color: #14A098;
  margin-bottom: 10px;
}
/*NoticeforCus*/
.NoticeContent{
  width: 100%;
  text-align: left;
  border-style: none none solid;
  border-color: white;
  border-width: 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #14A098;
}
.NoticeContent:hover{
  color: #cb2c6f;
}

.homelogo_n {
  position: relative;
  width: 150px;
  margin-left: 1em;
  padding-bottom: 2em;
  /* margin: 20px 30px 0px 0px; */
}

.wrap_search_signin {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  margin-right: 5em;
}

.wrap_search_icon {
  position: relative;
  display: inline-block;
}

.search {
  display: inline-block;
  position: relative;
  background: #14a098;
  font-family: cloud;
  color: floralwhite;
  padding: 0px 50px;
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 25px;
}

.search:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgb(255, 255, 255);
}

.searchIcon {
  position: absolute;
  margin-top: -2em;
  margin-left: 1em;
}

button[type="signIn_2"] {
  position: relative;
  background-color: #cb2c6f;
  font-family: cloud;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

button[type='signIn_2']:hover {
  background: -webkit-linear-gradient( #cb2c6f, #0F292F);
  background: -o-linear-gradient( #cb2c6f, #0F292F);
  background: -moz-linear-gradient( #cb2c6f, #0F292F);
  background: linear-gradient( #cb2c6f, #0F292F);
}

/* Wrapper */

#wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}


/* Main */

#main {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  margin-left: 5em;
  max-width: 100%;
  width: 100%;
}

#main>.inner {
  padding: 0 6em 0.1em 6em;
  margin: 0 auto;
  max-width: 110em;
}

#main>.inner>section {
  padding: 6em 0 4em 0;
  border-top: solid 2px rgba(210, 215, 217, 0.75);
}

#main>.inner>section:first-of-type {
  border-top: 0 !important;
}

@media screen and (max-width: 1680px) {
  #main>.inner {
      padding: 0 5em 0.1em 0;
  }
  #main>.inner>section {
      padding: 0 0 3em 0;
  }
}

@media screen and (max-width: 1280px) {
  #main>.inner {
      padding: 0 4em 0.1em 0;
  }
  #main>.inner>section {
      padding: 0 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  #main>.inner {
      padding: 0 2em 0.1em 0;
  }
  #main>.inner>section {
      padding: 0 0 1em 0;
  }
}


/* Sidebar */

#sidebar {
  background-color: #0f292f;
  font-size: 0.9em;
  position: relative;
  width: 26em;
}

#sidebar>.inner {
  padding: 2.22222em 2.22222em 2.44444em 2.22222em;
  position: relative;
  width: 26em;
}

#sidebar>.inner>* {
  /* border-bottom: solid 2px rgba(210, 215, 217, 0.75); */
  margin: 0.7em 0 1em 0;
  padding: 0 0 0.3em 0;
}

#sidebar>.inner>*> :last-child {
  margin-bottom: 0;
}

#sidebar>.inner>*:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1680px) {
  #sidebar {
      width: 15em;
  }
  #sidebar>.inner {
      padding: 1.66667em 1.66667em 1.33333em 1.66667em;
      width: 15em;
  }
}

/* @media screen and (max-width: 1280px) {
  #sidebar {
      box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 10000;
  }

  #sidebar>.inner {
      height: 100%;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
  }
  #sidebar>.inner:after {
      content: '';
      display: block;
      height: 4em;
      width: 100%;
  }
  body.is-preload #sidebar {
      display: none;
  }
} */

.sidenav {
  width: 200px;
  position: relative;
  z-index: 1;
  background-color: #0F292F;
  overflow-x: hidden;
  }


.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: goldenrod;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  
  }


.sidenav a:hover, .dropdown-btn:hover {
  color: whitesmoke;
  background-color: #14A098;
  }

.dropdown-container {
  display: none;
  padding-left: 1em;
}

.fa-caret-down {
  float: right;
  padding-right: 1em;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.wrap_topic{
  display: inline-flex;
  justify-content: start;
  align-items: flex-start;
}

.topic{
  /* font-family: cloud; */
  font-size: 30px;
  color: #cb2c6f;
  margin-bottom: 0.7em;
  /* padding-left: 1em; */
}

.shop_logo{
  position: relative;
  margin: 0 0.5em 0 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.topicCatalog{
  font-size: 30px;
  color: goldenrod;
  margin-bottom: 1em;
  border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}

.box_img_shopreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: solid 1px rgba(210, 215, 217, 0.75);
}

.row_box {
  width: 150px;
  height: 150px;
  margin: 1em;
}

.image_shop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.box_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-bottom: 1em;
  border-bottom: solid 1px rgba(210, 215, 217, 0.75);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.box_item:hover{
  /* background: -webkit-linear-gradient( rgba(255, 255, 255, 0.250),#0F292F);
  background: -o-linear-gradient( rgba(255, 255, 255, 0.250),#0F292F);
  background: -moz-linear-gradient( rgba(255, 255, 255, 0.250),#0F292F);
  background: linear-gradient(rgba(255, 255, 255, 0.250),#0F292F); */
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.300);
}

.box_item2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 1em;
}

.sub_box_item {
  position: relative;
  width: 30%;
  padding: 1em 1em 0 1em;
}

.sub_box_item2 {
  position: relative;
  width: 50%;
  padding: 0 1em 0 1em;
}

.sub_box_item3 {
  position: relative;
  width: 100%;
}

.sub_box_item4 {
  position: relative;
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* margin-top: 1em; */
}

.sub_box_item a{
  text-decoration: none;
}

.box_img_shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}

/* ------ New CSS -------*/
.Back{
  position: fixed;
  background-color: #cb2c6f;
  font-family: cloud;
  color: #fff;
  width: 100px;
  height: 42px;
  border-radius: 25px;
  cursor: pointer;
  margin: 20em 0 0 72em;
}
.Back:hover{
  background: -webkit-linear-gradient( #cb2d6f, #511F3A);
  background: -o-linear-gradient( #cb2d6f, #511F3A);
  background: -moz-linear-gradient( #cb2d6f, #511F3A);
  background: linear-gradient( #cb2d6f, #511F3A);
}

.disabled {
  pointer-events: none;
}

.wrap_input_time{
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(20, 160, 153, 0.3);
  display: flex;
}
.wrap_input_time::placeholder {
  color: #ffffff0e;
}

.input_time{
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.input_time::placeholder {
  color: rgb(145, 145, 145);
  color: #ffffff0e;
}

.container_next {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
}

.container_hairstyle {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

/*Booking Infomation*/

.BookInfo p{
  font-size: 20px;
  font-weight: bold;
  color: #cb2c6f;
}
.subdetail{
  display: flex;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  margin: 1% 5%;
  background-color: #14A098;
  padding: 0.5% 2%;
  border-radius: 25px;
}

/*testtt*/

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
.wrong {
  width: 100%;
  color: #cb2c6f;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/**imgUploadReview**/
.file_input_Review {
  width: 100%;
  color: transparent;
}
.file_input_Review::-webkit-file-upload-button {
  visibility: hidden;
}
.file_input_Review::before {
  content: "Select Image";
  color: white;
  border-radius: 25px;
  margin-left: 20%;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 60%;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  position: relative;
}
.file_input_Review:hover::before {
  background: -webkit-linear-gradient( #14A098, #0F292F);
  background: -o-linear-gradient( #14A098, #0F292F);
  background: -moz-linear-gradient( #14A098, #0F292F);
  background: linear-gradient( #14A098, #0F292F);
}
.image_preview_Review {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient( #14A098, #cb2d6f);
  background: -o-linear-gradient( #14A098, #cb2d6f);
  background: -moz-linear-gradient( #14A098, #cb2d6f);
  background: linear-gradient( #14A098, #cb2d6f);
  object-fit: cover;
}
.wrap_preview_Review {
  width: 200px;
  height: 200px;
  border: none;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  /* margin-right: 150px; */
}
.container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);
}
.container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 60vmin;
  position: relative;
}
.container .card .card__head {
  color: black;
  background: #14a098;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.container .card:hover {
  flex-grow: 10;
}
.container .card:hover img {
  filter: grayscale(0);
}
.container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container .card:not(:nth-child(5)) {
  margin-right: 1em;
}

/**ConfirmBox**/
.custom-ui{
  background-color: #14a098;
  display: inline-flexbox;
  justify-content: center;
  padding: 10%;
  width: 130%;
  box-shadow: #0f292f;
  border-radius: 10px;
}
.confirmBT{
  width: 30%;
  height: 30px;
  justify-content: center;
  position: relative;
  display: inline-flex;
  background-color: #cb2c6f;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10%;
  margin-left: 15%;
  box-shadow: #0f292f;
}
.confirmBT:hover{
  background: -webkit-linear-gradient( #cb2c6f, #0F292F);
  background: -o-linear-gradient( #cb2c6f, #0F292F);
  background: -moz-linear-gradient( #cb2c6f, #0F292F);
  background: linear-gradient( #cb2c6f, #0F292F);
}
.container1 {
  display: flex;
  width: 100%;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* flex-direction: column ; */
}
.boxpreview {
  display: flex;
  width: 100%;
  padding: 10px 0 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 2px;
  filter: grayscale(100%);
}
.box:hover{
  cursor: pointer;
  filter: grayscale(0);
  /* width: 105%; */
}
.card:hover{
  cursor: pointer;
}
.wrap_content {
  width: 100%;
  /* position: relative; */
  /* border-radius: 25px; */
  /* margin-right: 80px; */
  background-color: rgba(18, 94, 90, 0.3);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 80vmin; */
}
