.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*---------- All ----------*/
body, html {
	height: 100%;
  background-color: #0F292F;
}
input {
	outline: none;
	border: none;
}
/* input::placeholder {
  color: white;
} */
input:focus::placeholder {
  color: transparent;
}
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: white;
  border-radius: 15%;
  color: #0F292F;
  padding: 0px 10px;
  margin-left: 10px;
}
input[type=time]::-webkit-clear-button {
  display: none;
}
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  background: #14A098;
}

input[type="checkbox"]:hover {
  filter: brightness(90%);
}

input[type="checkbox"]:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
select {
  border: none;
  outline: none;
}
.link {
  text-decoration: none;
}
.link:hover{
  text-decoration: none;
}
/*----------Sign in----------*/
.big_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  margin: 0 auto;
  /* background-color:#61dafb; */
}
.container_login {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap_login {
  width: 400px;
  border-radius:25px;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  background: white;
}
.login_form {
  width: 100%;
}
.login_form_title{
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
}
.wrap_input {
  width: 100%;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: #0F292F;
  display: flex;
}
.input_icon{
  display: inline-flex;
  width: 30px;
  /* vertical-align: middle; */
  margin: 10px;
  margin-left: 15px; 
  justify-content: space-evenly;
}
.hideicon {
  width: 20px;
  height: 20px;
  display: flex;
  margin: 15px;
}
.hideicon:hover{
  cursor: pointer;
}
.input {
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.wrap_button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login_button {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  /* width: fit-content; */
  position: relative;
}
.login_button:hover {
  background: -webkit-linear-gradient( #14A098, #0F292F);
  background: -o-linear-gradient( #14A098, #0F292F);
  background: -moz-linear-gradient( #14A098, #0F292F);
  background: linear-gradient( #14A098, #0F292F);
}
.validate_wrap {
  visibility: hidden;
  opacity: 0;
}
.invalidate_wrap {
  position: absolute;
  top: 105%;
  left: 5%;
  padding: 2px;
  border-radius: 20px;
  background-color: #cb2d6f;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: #cb2d6f;
  visibility: visible;
  opacity: 1;
}
.texterror {
  order:1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 1px ;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
  width:0;
  transition: width 0.5s;
}
.erroricon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.erroricon:hover + .texterror {
  width:250px
}
/*----------Sign up----------*/
.container_signup {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap_signup {
  width: 800px;
  border-radius:25px;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  background: white;
  display: flexbox;
  justify-content: space-evenly;
  align-content: center;
}
.signup_form {
  width: 100%;
  /* background-color: tomato; */
  justify-content: center;
  align-items: center;
}
.signup_form_title{
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 50px;
  width: 100%;
}
.container_type {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 40px;
}
.wrap_type {
  width: 20%;
  position: relative;
  border-radius: 25px;
  padding: 20px;
  background-color: #0F292F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  line-height: 0.5;
  font-size: 16;
}
.wrap_type:hover{
  cursor: pointer;
  filter: brightness(0.8)
}
.container_next_bt {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
/*---------- customer sign in  page 1 ----------*/
.bigcontainer_input{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;

}
.container_iput {
  width: 48%;
  display: block;
  /* background-color: #14A098; */
}
.select_input {
  background-color: #0F292F;
  color: white;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 5px;
}
/*---------- customer sign in page 2 ----------*/
.pattern {
  color : #cb2d6f;
  position: relative;
  /* margin-bottom: 30px; */
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p.pattern {
  position: absolute;
}
.container_profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #cb2d6f; */
}
.file_input {
  width: 100%;
  color: transparent;
}
.file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.file_input::before {
  content: "Select profile";
  color: white;
  border-radius: 25px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #0F292F;
  background: #0F292F;
  position: relative;
}
.file_input:hover::before {
  background: -webkit-linear-gradient( #0F292F, #14A098);
  background: -o-linear-gradient( #0F292F, #14A098);
  background: -moz-linear-gradient( #0F292F, #14A098);
  background: linear-gradient( #0F292F, #14A098);
}
.wrap_preview {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  /* margin-right: 150px; */
}
.image_preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 500px;
}
.image_upload {
  display: flex;
  justify-content: center;
}
.container_iput_signup2{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wrap_profile_signup {
  width: 48%;
  /* background-color: #61dafb; */
  /* display: block; */

}
.wrap_password_signup {
  width: 48%;
  /* background-color: bisque; */
  margin-bottom: 80px;
}
/*----------Sign up fished----------*/
.block_finished {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
}
.hidsave_button {
  display: none;
}
.showsave_button {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  border-radius: 100px;
  border-color: #14A098;
  background: #14A098;
  position: relative;
}
.showsave_button:hover {
  background: -webkit-linear-gradient( #14A098, #0F292F);
  background: -o-linear-gradient( #14A098, #0F292F);
  background: -moz-linear-gradient( #14A098, #0F292F);
  background: linear-gradient( #14A098, #0F292F);
}
/*----------shop information----------*/
.bigcontainer_info {
  /* background-color: aqua; */
  width: 90%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  /* background-color: violet; */
  border-style: none none solid;
  border-color: white;
  border-width: 2px;
  margin-bottom: 40px;
}
.wrap_info {
  width: 100%;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  /* background: white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.wrap_input_info {
  width: 100%;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: rgba(20, 160, 153, 0.3);
  display: flex;
}
.input_info{
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  color:white;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 0 5px 0 10px;
}
.input_info::placeholder {
  color: rgb(145, 145, 145);
  /* color:white; */
}
.wrap_input_time {
  width: 210px;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  /* margin-top: 0px; */
  background-color: rgba(20, 160, 153, 0.3);
  display: inline-flex;
}
.line_info {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
/*----------multiple image upload----------*/
.container_mutiplefile {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #cb2d6f; */
}
.multiple_file_input {
  width: 100%;
  color: transparent;
  /* background-color: aqua; */
}
.multiple_file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.multiple_file_input::before {
  width: 120px;
  height: 120px;
  content: "Add image";
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 200px; */
  background-color: rgba(20, 160, 153, 0.3);
  position: relative;
  margin-top: 5px;
}
.multiple_file_input:hover::before {
  filter: brightness(0.8);
}
.wrap_multipreview {
  /* width: 50%; */
  display: inline-flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: rgba(20, 160, 153, 0.3);
  margin-right: 10px;
  border-radius: 10px;
}
.multiple_image_preview {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin: 10px;
}
.input_image_box {
  width: 120px;
}
.container_right_bt {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: #61dafb; */
  cursor: initial;
}
.box_profile_phone {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.bigcontainer_info_profile {
  width: 100%;
  /* display: flex; */
  margin-top: 30px;
  margin-right: 60px;
}
.change_password {
  width: fit-content;
  font-size: 16px;
  color: #14A098;
  /* background-color: #61dafb; */
}
.change_password:hover {
  font-size: 16px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
/*----------hairstyle---------*/
.wrap_checkbox {
  width: 100%;
  position: relative;
  border-radius: 25px;
  margin-bottom: 40px;
  background-color: rgba(18, 94, 90, 0.3);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.checkbox_info {
  width: 170px;
  font-size: 16px;
  margin: 10px;
  /* background-color: yellow; */
}
.title_hairstyles{
  width: 100%;
  text-align: center;
  /* padding-left: 30px; */
  color: #14A098;
  border-style: none none solid;
  border-width: 1px;
  border-color: #14A098;
  margin-bottom: 20px;
}
.wrap_input_add {
  width: 100%;
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.input_add {
  width: 30%;
  border-radius: 50px;
  margin-right: 20px;
  padding-left: 30px;
  font-size: 16px;
}